/* Stylesheet for circuit visualizer */

.red-border {
    border: 2px solid red !important;
    /* Adjust the border width as needed */
}

.gates {
    width: 125px;
    padding: 10px;
    border: 2px solid #d1d5db;
    /* Gray border */
    display: inline-block;
    /* Align with the circuit container */
    vertical-align: top;
    z-index: 1;
    margin-right: 0px;

    /* Align the top of gates with the circuit */
}

#app {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}





#circuit {
    position: relative;
    /* This makes it a positioning context for absolutely positioned children */
}



.control-line-over-gate {
    opacity: 0.5;
}

.circuit {
    width: 700px;
    padding: 10px;
    border: 2px solid #fbbf24;
    /* Yellow border */
    display: inline-block;
    /* Align with the gates container */
    vertical-align: top;
    /* Align the top of circuit with the gates */
    align-self: center;
}

.qubits {
    width: 100%;
    margin-bottom: 20px;
}

/* Updated styles for .qubit-line */
.qubit-line {
    position: relative;
    height: 40px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

/* Class for the label of the qubit */
.qubit-label {
    margin-right: 10px;
    /* Space between label and the wire */
    width: 30px;
    z-index: 3;
}

.qubit-wire {
    position: absolute;
    top: 50%;
    /* Adjust as needed to center the wire */
    left: 50px;
    right: 35px;
    height: 2px;
    /* Adjust as needed */
    background-color: #d1d5db;
    /* Wire color */
    z-index: 1;
    /* Ensure it is above the default stacking order but below the gates */
    transform: translateY(-50%);
}

/* Updated styles for .gate to be draggable and center-aligned */
.gate {
    margin: 0 5px;
    height: 40px;
    width: 40px;
    padding: 5px 10px;
    border: 1px solid #d1d5db;
    background-color: #f3f4f6;
    cursor: grab;
    display: inline-flex;
    /* Use flex for centering text */
    align-items: center;
    /* Center the text vertically */
    justify-content: center;
    margin-right: 5px;
    z-index: 2;
}

#grid_hide {
    margin-top: 4px;
    margin-right: 430px;
}


.invisible-gate {
    border: 1px dashed #d1d5db;
    background-color: transparent;
    /* No background */
    height: 100%;
    /* Take full height of qubit line for easier dragging */
    margin: 0 5px;
    height: 40px;
    width: 40px;
    padding: 5px 10px;
    cursor: grab;
    display: inline-flex;
    /* Use flex for centering text */
    align-items: center;
    /* Center the text vertically */
    justify-content: center;
    margin-right: 5px;
    z-index: 2;
}




/* Add styles for .gate when it's being dragged */
.gate.dragging {
    opacity: 0.5;
}


.add-qubit {
    padding: 5px 15px;
    background-color: #2563eb;
    color: white;
    cursor: pointer;
}

.palette-gate {
    margin-bottom: 5px;
    /* Space between draggable gates */
}

/* Additional styles for dragging */
.dragging {
    opacity: 0.5;
}

/* Button styles */
.add-qubit {
    padding: 5px 15px;
    background-color: #2563eb;
    color: white;
    cursor: pointer;
    margin-top: 10px;
    /* Space from the last qubit line */
}

.remove-qubit {
    margin-left: 10px;
    /* Push the button to the right */
    padding: 2px 5px;
    cursor: pointer;
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 4px;
    width: 30px;

}

.generate-quic {
    padding: 5px 15px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    align-self: center;
    align-content: center;
    width: 150px;
}

.refresh {
    margin-left: 20px;
    padding: 5px 15px;
    background-color: #063df1;
    color: white;
    cursor: pointer;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    align-self: center;
    align-content: center;
    width: 150px;
}

.control-line {
    position: absolute;
    z-index: 0;
    background-color: #d1d5db;
    /* Gray color */
}

/* Alternate styles for multiple connections */
.control-line.multiple-1 {
    background-color: #FF4136;
}

.control-line.multiple-2 {
    background-color: #0074D9;
}

.control-line.multiple-3 {
    background-color: #2ECC40;
}

#quicDisplay {
    font-family: 'Courier New', Courier, monospace;
    /* Use a monospace font for better alignment */
    font-size: 24px;
    /* Set the font size */
    color: #333;
    /* Set the text color */
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    overflow-x: auto;
}

.input-circuit {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.run-circuit {
    margin-left: 10px;
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.run-circuit:hover {
    background-color: #45a049;
}





/* Responsive styles */
@media (max-width: 768px) {

    .gates,
    .circuit {
        width: 100%;
        margin-right: 0;
    }
}


/* ..................................................... */

.box {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    margin: 5px;
    cursor: pointer;
}

#boxes-container {
    margin-top: 20px;
}

.buttons_div {
    display: none;
}

.config-box {
    padding: 10px;
    margin: 25px;
    border: 1px solid #000000;
    background-color: #d1d5db;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 50px;
    width: 100px;
    font-size: large;
}

#configBoxes {
    margin-left: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}